.shackSlider {
width: 500px;
background:url(../images/bg.png);
position:relative;
}
#slider {
width: 500px;
height: 250px;
margin: 0 auto 10px auto;
}
#slider a.sliderPrev {
background: url(../images/prev.png) no-repeat center center;
width: 49px;
height: 24px;
display: inline-block;
text-decoration: none;
text-indent:-9999px;
position:absolute;
left:0;
top:50%;
}
#slider a.sliderNext {
background: url(../images/next.png) no-repeat center center;
width: 49px;
height: 24px;
display: inline-block;
text-decoration: none;
line-height: 24px;
text-align: center;
text-indent:-9999px;
position:absolute;
right:0;
top:50%;
}
.slideTitle {
font-size: 10px;
text-align: left;
padding: 5px;
}
.shackSlider #sliderNav {
height: 24px;
text-align: center;
padding-bottom: 3px;
position:relative;
}
#sliderNav a:link, #sliderNav a:active, #sliderNav a:visited, #sliderNav a:hover {
background: url(../images/item.png) no-repeat center center;
line-height: 24px;
font-size: 16px;
height: 24px;
width: 25px;
text-align: center;
text-decoration: none;
display: inline-block;
color: #ddd;
text-shadow: 1px 1px 1px #666;
text-indent:-9999px;
}
#sliderNav a.active:link, #sliderNav a.active:active, #sliderNav a.active:visited, #sliderNav a.active:hover {
background: url(../images/item_active.png) no-repeat center center;
color: #fff;
text-shadow: 1px 1px 1px #666;
}
#sliderNav a.sliderPrev {
background: url(../images/prev.png) no-repeat center center;
width: 49px;
height: 24px;
display: inline-block;
text-decoration: none;
text-indent:-9999px;
position:absolute;
left:0;
top:0;
}
#sliderNav a.sliderNext {
background: url(../images/next.png) no-repeat center center;
width: 49px;
height: 24px;
display: inline-block;
text-decoration: none;
line-height: 24px;
text-align: center;
text-indent:-9999px;
position:absolute;
right:0;
top:0;
}
