@import "/../wright/build/libraries/bootstrap/less/utilities";

dl.article-info {
	dd,
	dd > div {
		padding:0 5px;

		&:hover {
			background-color: #FBF4F4;
		}
	}
}

.footer1, .footer2 {
	text-align: center;
}

#footer .footer-content {
	a:hover {
		color: @gray;
	}
}

#footer {
	color: @white;
	overflow: hidden;
	background-color: #1b1b1b;
	background-repeat: repeat-x;
	border-color: #252525;

	.moduletable, .module {
		.m-0;
	}
}
