#logo a.image h2 { text-indent: -5000px; display: none; }
#logo img { border: 0; }
#logo a h2.title { text-indent: 0px; }
div.joomlashack { text-indent: -1000em; background: url('../images/jscright.png') no-repeat; }
div.joomlapraise {  }