/*
Joomla 3.0 specific styles (copied from 2.5)
====================================================
Table of Contents:
Ctrl/Cmd + F to find the @groups named below

@group Article Column Structure
@group Categories/Archives
@group Article Info
@group Pagination
@group Contact
@group Misc. Joomla! Styles

*/


/* @group Article Column Structure */

.contentpaneopen, .blog {
	width: 100%;
}
.blog {
	margin: 0 0 20px 0;
}
.article_column {
	padding: 10px 0;
}
.column_separator {
	padding: 20px 1%;
}
.items-leading {
	display: inline-block;
	width: 100%;
}
dl.article-info {
	clear:both;
	float:none;
	display:block;
	width:100%;
	min-height:20px;
	margin: 0;
	padding:5px 0;
	font-size:1em;
}
dl.article-info dt {
	display:none;
}
dl.article-info dd {
	display:inline-block;
	float:none;
	clear:none;
	zoom:1;
	margin:0 10px 0 0;
	padding:0;
	width:auto;
}
dl.article-info dd.parent-category-name,
dl.article-info dd.category-name {
	background:url(../images/icons/16/folder.png) no-repeat 0 3px;
}
dl.article-info dd.create {
	background:url(../images/icons/16/calendar_add.png) no-repeat 0 3px;
}
dl.article-info dd.modified {
	background:url(../images/icons/16/calendar_edit.png) no-repeat 0 3px;
}
dl.article-info dd.published {
	background:url(../images/icons/16/calendar.png) no-repeat 0 3px;
}
dl.article-info dd.createdby {
	background:url(../images/icons/16/user_suit.png) no-repeat 0 3px;
}
dl.article-info dd.hits {
	background:url(../images/icons/16/chart_bar.png) no-repeat 0 3px;
}
.cols-1 {
	display: block;
	float: none !important;
	margin: 0 !important;
}
.cols-2 .column-1 {
	width:46%;
	float:left;
}
.cols-2 .column-2 {
	width:46%;
	float:right;
	margin:0
}
.cols-3 .column-1 {
	float:left;
	width:29%;
	padding:10px 5px 10px 0px;
	margin-right:4%
}
.cols-3 .column-2 {
	float:left;
	width:29%;
	margin-left:0;
	padding:10px 5px;
}
.cols-3 .column-3 {
	float:right;
	width:29%;
	padding:10px 0px 10px 5px;
}
.cols-4 .column-1 {
	float:left;
	width:24%;
	padding:10px 5px 10px 0px;
	margin:0;
}
.cols-4 .column-2 {
	float:left;
	width:24%;
	margin:0;
}
.cols-4 .column-3 {
	float:left;
	width:24%;
	margin:0;
}
.cols-4 .column-4 {
	float:right;
	width:24%;
	padding:10px 0px 10px 5px;
	margin:0;
}
.items-row {
	overflow:hidden
}
.column-1, .column-2, .column-3, .column-4 {
	padding:10px 5px
}
.leading {
	clear: both;
}
p.readmore {
	margin: 0;
	padding: 0;
}
.item-page {
}
/* @end */




/* @group Categories/Archives */

div.categories-list ul, div.categories-list li, div.cat-children ul, div.cat-children li {
	list-style: none;
	margin: 0;
	padding: 0;
}
div.categories-list li.first, div.cat-children li.first, div.cat-children li.last {
	margin-left: 0;
}
div.categories-list li.first ul li, div.categories-list li.last ul li, div.cat-children li.first ul li, div.cat-children li.last ul li {
	margin-left: 20px;
}
div.categories-list span.item-title, div.cat-children span.item-title {
	font-size: 18px;
	display: block;
	margin: 10px 0px;
}
span.article-count, span.weblink-count, span.contact-count, span.newsfeed-count {
	float: right;
	clear: both;
}
/* Category Tables */

table.category p {
	margin: 0;
}
table.category a.category {
	font-weight: bold;
}
/* Categories Module */

ul.categories-module li h4 {
	margin: 0px 0px 5px 0px;
}
ul.categories-module p {
	margin: 0px 0px 0px 0px;
	padding-bottom: 5px;
}
.module ul.category-moduleS3 li, .moduleS1 ul.category-moduleS3 li, .moduleS2 ul.category-moduleS3 li, .moduleS3 ul.category-moduleS3 li {
	list-style: none;
	margin: 0;
	padding: 0;
	background: none;
}
/* @end */




/* @group Article Info */


.article-info-box {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.article-info-term {
	clear: both;
	display: none;
}
.article-info {
	width: 100%;
	clear: both;
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}
body.dark dl.article-info {
	border-bottom: 1px dotted #000;
}
li.parent-category-name, li.category-name, li.create, li.modified, li.published, li.createdby, li.hits {
	padding: 1px 10px 1px 20px;
	font: 11px/1.5em Helvetica, Tahoma, Verdana, sans-serif;
	margin: 0;
	float: left;
}
span.content_rating {
	padding: 0;
	width: 100%;
	font-size: 11px;
}
span.content_rating img {
	padding: 2px 1px;
	vertical-align: bottom;
}
span.content_vote input {
	margin: 0px 3px;
	vertical-align: baseline;
}
span.content_vote {
	font-size: 11px;
	display: inline-block;
	margin: 5px 0px;
}
li.createdby {
	background: url(../images/icons/16/user_suit.png) no-repeat left top;
}
li.create {
	background: url(../images/icons/16/calendar.png) no-repeat left top;
}
li.modified {
	background: url(../images/icons/16/calendar_edit.png) no-repeat left top;
}
li.published {
	background: url(../images/icons/16/calendar_add.png) no-repeat left top;
}
li.hits {
	background: url(../images/icons/16/chart_bar.png) no-repeat left top;
}
li.parent-category-name {
	background: url(../images/icons/16/folder_go.png) no-repeat left top;
}
li.category-name {
	background: url(../images/icons/16/folder.png) no-repeat left top;
}
/* Print & PDF Icons */

ul.actions, ul.actions li {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.actions li {
	padding: 0px 2px;
}
/* @end */




/* @group Pagination */



/* Category Pagination */

.pagination {
	display: block;
	clear:both;
	font-size: 12px;
	margin: 10px auto 20px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-top: 1px solid #eee;
}
.pagination .pagination{
	border-top: 0 none;
	border-radius:0 0 0 0;
}
.pagination span {
	padding: 0px 4px;
	display: inline-block;
}
.pagination span a {
	padding: 4px 8px;
	text-decoration: none;
	border: 1px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.pagination ul {
	margin: 0;
}
.pagenavcounter {
	display: block;
	text-align: center;
}
.counter{
	display: inline-block;
	float: none;
	line-height:39px;
}
/* @end */

/* @group Contact */

div.panel {
	display: block;
	cursor: pointer;
}
body.light div.panel {
	border-bottom: 1px solid #ccc;
}
body.dark div.panel {
	border-bottom: 1px solid #000;
}
/* @end */


/* @group Misc. Joomla! Styles */


.jicons-icons {
	float: left;
	margin: 0px 5px 0px 0px;
}
.hidelabeltxt {
	display: none;
	visibility: hidden;
}
.filter-search {
	float: left;
}
.display-limit {
	float: right;
}
.fl-right {
	float: right;
}
.login-fields {
	margin: 10px 0px;
}
span.star {
	color: red;
}
/* Tool Tips */
.tip-wrap {
	text-align: left;
	padding: 5px 7px;
	border: 2px solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #ffd758;
	border-color: #ffb30a;
	box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	-moz-box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	-webkit-box-shadow: 1px 1px 0 #fff5d6 inset, -1px -1px 0 #fff5d6 inset;
	text-shadow: #fff0c0 1px 1px 0;
}
.tip-text {
	color: #4f3b0e;
	line-height: 140%;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
	display: block;
	width: 100%;
	white-space: nowrap;
}
.tip-title {
	font-weight: bold;
	font-size: 14px;
	color: #322508;
}
/* User Form Submission */

.formelm {
	padding: 10px;
}
.formelm label {
	float: left;
	width: 200px;
	margin-right: 10px;
}
.formelm-buttons {
	margin: 20px 0px;
}
.formelm select {
	margin-left: 0px;
}
.button2-left a {
	font-weight: bold;
	text-decoration: none;
	font: bold 12px/28px Helvetica, Arial, sans-serif;
	margin: 5px 10px 0px 0px;
	padding: 0px 10px;
	float: left;
	background-color: #eee;
	background: -moz-linear-gradient(top center, #fff 0%, #eee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
	border: 1px solid #d6d6d6;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-moz-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
	-webkit-box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
}
.button2-left a:hover {
	background-color: #f6f6f6;
}
#system-message li {
	padding: 0;
}
.register {
	padding: 10px 0px;
}
.register label {
	width: 15em;
	display: inline-block;
}

/* Images and links */


.img-intro-left,
.img-fulltext-left,
.pull-left.item-image {
	float: left;
	margin: 0 25px 10px 0;
}

.img-intro-right,
.img-fulltext-right,
.pull-right.item-image {
	float: right;
	margin: 0 0 10px 25px;
}
.img-fulltext-none, .img-intro-none{
	margin-bottom: 10px;
}

p.img_caption,
.item p.img_caption,
.item-page p.img_caption {
	clear: none;
}

/* toc */

div#article-index {
	color: #330;
	border: 1px solid #D6D6D6;
	margin: 5px;
	float: right;
	width: auto;
	padding: 10px;
}

div#article-index ul {
	margin: 0;
	padding: 0;
}

div#article-index ul li {
	list-style: none;
	font-size: 0.9em;
	font-weight: normal;
	text-align: left;
	padding: 0;
	margin: 0 5px;
}

div#article-index ul li a.active {
	font-weight: bold;
}

/* @end */

/* For Page Break */
/* Pages */
div.pagenavcounter {
	background-color: #eee;
    color: #4F4F4F;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 20px;
    padding: 1px 5px;
}
/* Article Pagination */

ul.pagenav, div.pagination ul {
   
    list-style: none outside none;
    margin: 10px auto;
    padding: 1px 5px;
    text-align: center;
}
ul.pagenav li, 
div.pagination ul li {
	display:inline;
	background-color:#eee;
	padding: 2px 5px;
	color: #4F4F4F;
}
ul.pagenav li a, 
div.pagination ul li a {
	margin: -2px -5px;
	display:inline-block;
	text-decoration: none;
	background-color: #4F4F4F;
	color:white;
	padding: 0 5px;
	-moz-transition:all 0.2s ease-in 0s;
}
ul.pagenav li a:hover, 
div.pagination ul li a:hover {
	box-shadow: 0 0 5px #999;
}


/* Slider */

.panel{
	margin-top:-1px;
	border: 1px solid #e0e0e0;
	padding: 0;
}
.panel h3 {
    background-image: url("../images/slider_max.png");
    background-position: 98% center;
    background-repeat: no-repeat;
   background-color:rgba(143,170,184,0.2);
    margin-bottom: 0;
    margin-left: -10px;
    padding: 5px;
}
.panel h3.pane-toggler-down{
	background-image: url(../images/slider_minus.png);
	background-color: #ccc;
}

.panel h3.pane-toggler-down a{
	border-bottom: 1px solid #E0E0E0;
    display: block;
    margin: 0 0 -5px;
 	padding-bottom:5px;
}
.panel h3 a{
	

}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.pull-left.item-image {
    margin: 0 20px 18px 0;
}

.pull-right.item-image {
    margin: 0 0 18px 20px;
}
[class^="icon-"], [class*=" icon-"],
a [class^="icon-"], a [class*=" icon-"] {
	background-image: none;
	text-decoration: none;
}


ul.dropdown-menu {
	list-style: none;	
}

ul.dropdown-menu li {
	list-style: none;
	float: left;
	margin-left: 10px;
}

div.btn-group i.icon-cog {
	display: none;
}

ul.dropdown-menu li a {
	text-decoration: none;
}

fieldset.filters div.alert {
	background: none;
	border: 1px solid #666;
	padding: 10px;
	box-shadow: 0 0;
}

div.btn-toolbar div.btn-group {
	float: left;
}

fieldset, div.tab-content {
	clear: both;
}

div.tab-content div.tab-pane {
	display: none;
}

div.tab-content div.tab-pane.active {
	display: block;
}

ul.nav-tabs li {
	float: left;
	list-style: none;
}

ul.nav-tabs.nav-stacked li {
	float: none;
	clear: both;
	list-style: none;
}

dl#tabs,
dl.tabs {
	width: 100%;
}

dl#tabs dt,
dl#tabs dd,
dl.tabs dt,
dl.tabs dd {
	clear: both;
	width: 100%;
}

ul.pagenav {
	clear: both;
}

div#pathway span.sep {
	margin: 0 5px;
}

div#pathway span.sep img {
	display: none;
}


/* Text selection */

::selection {
	background:rgb(255,255,0);
}

::-moz-selection {
	background: rgb(255,255,0);
}
/** module menu in sidebar */
ul.menu {
	list-style: none;
	margin: 0;
}
aside ul.menu ul li{
	margin-left: 10px;	
}
ul.menu ul{
    list-style:none;
    margin:5px;
}
.items-more{
	padding:0;
	margin: 0;
}
.items-more ul{
	margin:0;
}
.items-more .items-more{
	border:0 none;
}
.random-image > img{
	width: 100%;
	height: auto;
}
.newsflash-title_ms1,
.newsflash-title_ms2,
.newsflash-title_ms3,
.newsflash-title_ms4,
.newsflash-title{
	margin-top: 10px;
}