# General exclusion of system files
###################################
.*
*~
build.properties

!.gitignore
!.htaccess

# Icon must ends with two \r.
Icon


# Windows
Thumbs.db
Desktop.ini

# Sublime Text
sftp-config.json

# Netbeans (custom)
/nbproject/*

# Temp files
*.tmp
*.bak
*.swp
*~.nib

# Packages #
*.zip
*.tar.*

# Composer
composer.lock
/vendor

# Never ignore
!index.html
!index.php
