# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules
dist
code/css/joomla25-generic-extended.css
code/css/joomla25-generic-responsive.css
code/css/joomla30-generic-extended.css
code/css/joomla30-generic-responsive.css
code/css/jui/bootstrap-extended.css
code/css/jui/bootstrap-responsive.min.css
code/css/jui/bootstrap.min.css
code/css/style-generic.css
code/js/jui/bootstrap.min.js
code/js/jui/jquery.min.js
code/wright/images/glyphicons-halflings-white.png
code/wright/images/glyphicons-halflings.png
bootstrap.min.js
