.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.pull-right {
    float: left;
}
.pull-left {
    float: right;
}
.table th,
.table td {
    text-align: right;
}
.navbar .brand {
    float: right;
    padding: 8px 20px 8px 12px;
    margin-right: -20px;
    margin-left: 0;
}
.navbar .nav.pull-right {
    margin-right: 10px;
    margin-left: 0px;
}
.pull-right > .dropdown-menu {
    left: 0;
    right: auto;
}
.row-fluid [class*="span"] {
    float: right;
    margin-right: 2.127659574%;
    *margin-right: 2.0744680846382977%;
    margin-left: 0px !important;
    *margin-left: 0px !important;
}
.row-fluid [class*="span"]:first-child {
    margin-right: 0;
}
.form-horizontal .control-label {
    float: right;
    width: auto;
    padding-left: 5px;
    padding-right: 0;
    text-align: right;
}
.form-horizontal .controls {
    *display: inline-block;
    *padding-right: 20px;
    margin-right: 160px;
    *margin-right: 0;
    margin-left: 0;
    text-align: right;
    margin-top: 6px;
}
.form-horizontal .controls:first-child {
    *padding-right: 160px;
}
.form-vertical .controls {
    *display: inline-block;
    *padding-right: 20px;
    margin-right: 0;
    *margin-right: 0;
    margin-left: 0;
    text-align: right;
    margin-top: 6px;
}
.form-vertical .control-label {
    float: none;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    width: auto;
}
.chzn-container-single-nosearch .chzn-search input {
    position: absolute;
    left: -9000px;
    display: none;
}
.nav-tabs > li,
.nav-pills > li {
    float: right;
}
.nav-stacked > li {
    float: none;
}
.btn-group > .btn {
    float: right;
    margin-right: -1px;
    margin-left: 0;
}
.btn-group > .btn:first-child {
    margin-right: 0;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
    margin-left: 0;
}
.btn-group > .btn.large:first-child {
    margin-right: 0;
}
.btn-group > .btn:first-child:last-child {
    margin-left: 0;
}
.input-prepend .add-on {
    float: right;
}
.input-append .add-on {
    float: none;
}
.input-prepend .add-on,
.input-prepend .btn {
    margin-left: -1px;
    margin-right: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
    margin-left: -1px;
    margin-right: 0px;
    float: right;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
    margin-right: -1px;
    margin-left: 0px;
}
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input {
    border-radius: 3px 0 0 3px;
}
body {
    direction: rtl;
}
.pager .next a {
    float: left;
}
.pager .previous a {
    float: right;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
    margin-left: 0;
}
#refresh-status {
    background-position: right center;
    padding-left: 0;
    padding-right: 25px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: right;
    margin-right: 2px;
    margin-left: 5px;
}
.list-striped,
.row-striped {
    line-height: 18px;
    text-align: right;
}
.btn-group + .btn-group {
    margin-right: 5px;
    margin-left: 0px;
}
.tabs-left > .nav-tabs {
    float: right;
    margin-left: 19px;
    margin-right: 0px;
    border-right: 0px;
}
.tabs-left > .nav-tabs > li > a {
    margin-left: -1px;
    margin-right: 0px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: 0px;
}
.btn-toolbar {
    margin-top: 14px;
    margin-bottom: 3px;
}
.navigation .nav li li .nav-child {
    left: auto;
    right: 100%;
}
.navigation .nav li li .nav-child:before {
    left: auto;
    right: -7px;
}
.navigation .nav li li .nav-child:after {
    left: auto;
    right: -6px;
}
.container-logo {
    float: left;
    text-align: left;
}
.modal-header .close {
    float: left;
}
.pagination a {
    float: right;
}
.pagination ul {
    margin-right: 0;
    margin-bottom: 0;
}
.pagination a {
    float: right;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.dl-horizontal dt {
    float: right;
    text-align: left;
    clear: right;
}
.dl-horizontal dd {
    margin-left: 0;
    margin-right: 180px;
}
.dl-horizontal dt,
.profile> ul {
    margin: 9px 25px 0 0;
}
.dropdown-submenu > a:after {
    float: left;
    margin-left: -10px;
}
.badge {
    margin-left: 10px;
}
.tip-text {
    text-align: right;
}
.btn-toolbar .btn + .btn,
.btn-toolbar .btn-group + .btn,
.btn-toolbar .btn + .btn-group {
    margin-left: 0;
    margin-right: 5px;
}
.btn-toolbar .btn-wrapper {
    margin: 0 5px 5px 0;
}
.btn-group > .btn + .btn {
    margin-left: 0;
    margin-right: -1px;
}
.input-append .add-on,
.input-append .btn,
.input-prepend .add-on,
.input-prepend .btn {
    margin-left: 0;
    margin-right: -1px;
}
.chzn-container-single .chzn-single {
    padding-right: 8px;
    padding-left: 0;
}
.chzn-container-single .chzn-single span {
    margin-left: 26px;
    margin-right: 0;
}
.chzn-container-single .chzn-single abbr {
    left: 26px;
    right: auto;
}
.chzn-container-single .chzn-single div {
    left: 0;
    right: auto;
}
.chzn-container-multi .chzn-choices li {
    float: right;
}
.chzn-container-multi .chzn-choices .search-choice {
    margin-right: 5px;
    margin-left: 0;
    padding-right: 5px;
    padding-left: 20px;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    left: 3px;
    right: auto;
}
.chzn-container.chzn-with-drop .chzn-drop {
    right: 0;
    left: auto;
}
.chzn-container-single.chzn-container-single-nosearch .chzn-search {
    left: auto;
}
.chzn-container .chzn-drop {
    right: -9999px;
    left: auto;
}
.alert {
    padding-right: 14px;
    padding-left: 35px;
}
.alert .close {
    left: -21px;
    right: auto;
}
.close {
    float: left;
}
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
    margin-bottom: 9px;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float: right;
    margin-left: 3px;
    margin-right: 0;
}
.com_media .container-main .media {
    display: inline-block;
}
.thumbnails > li {
    float: right;
    margin-bottom: 18px;
    margin-right: 20px;
}
#mediamanager-form .description,
#mediamanager-form .filesize,
#mediamanager-form .dimensions {
    direction: ltr;
}
.popover,
.tooltip-inner {
    text-align: right;
}
.popover.top .arrow,
.popover.bottom .arrow {
    margin-right: -11px;
}
.popover.top .arrow:after,
.popover.bottom .arrow:after {
    margin-right: -10px;
}
@media (max-width: 480px) {
    .btn-toolbar .btn-wrapper {
        margin: 0 0 5px 0;
    }
    .btn-toolbar .btn-wrapper .btn {
        margin-left: 0px;
        margin-right: 10px;
    }
}
#pop-print {
    float: left;
    margin: 10px;
}
#install_url,
#install_directory,
#jform_customurl,
#jform_link,
#jform_params_url,
input[type="url"] {
    text-align: left;
    direction: ltr;
}
#aside .nav .nav-child {
    padding-left: 0;
    padding-right: 5px;
}
.dropdown-menu {
    text-align: right;
}
