@charset "utf-8";
/* CSS Document Copyright ********************/
/* ***************************************************************************************************** */
/* DEFAULT HTML *****************************/
body{
	padding-top: 10px; 
color:#444751;
background:#FFF;
}
a {
color:#0088CC;
}
a:hover{
color: #333;
}
/* ***************************************************************************************************** */
/* TEMPLATE SPECIFIC CSS CODE */
#header {
background:#FFF;
margin-bottom: 10px; 
}
#header #logo h2 { display: none; }
#pathway{
background:#FFF;
}
#stage{
border-bottom:1px solid #E0E0E0;
background:#F8F8F8;
}
.elements{
border-bottom:1px solid #CCC;
background:#FFF;
}
#container{
border-bottom:1px solid #CCC;
background:#FFF;
}
#footer{
color:gray;
padding-top: 10px; 
}
#footer a {
color:black;
}
/* positions margins */
#toolbar, #header, #menu, #featured, #grid-top, #main-content, 
#above-content, #breadcrumbs, #grid-bottom, #grid-bottom2, 
#bottom-menu {
	margin-bottom: 10px;  
}
#below-content { margin-top: 10px; }
/* ***************************************************************************************************** */
/* JOOMLA SPECIFIC CSS CODE */
/* ***************************************************************************************************** */
/* CONTENT BUTTONS */
.btn-group.actions .btn img { height: 16px; }
