@charset "utf-8";
/* CSS Document Copyright ********************/
/* ***************************************************************************************************** */
/* DEFAULT HTML *****************************/
body{
background:#222;
color:#555;
}
a,
a:link,
a:visited{
color:#3BC2BC;
}
h1,
h2,
h3,
h4,
.componentheading,
.contentheading{
text-shadow:1px 1px 1px #FFF;
-moz-text-shadow:1px 1px 1px #FFF;
-webkit-text-shadow:1px 1px 1px #FFF;
-khtml-text-shadow:1px 1px 1px #FFF;
}
/* ***************************************************************************************************** */
/* TEMPLATE SPECIFIC CSS CODE */
#header{
background:#F4F4F4 url(../images/bg.png);
color:#B9ECF0;
}
#header-inner{
border-bottom:1px solid #D5D5D5;
}
#logo-graphic h1 a{
background:url(../images/theme3/logo.png) no-repeat 0 0;
}
#topmenu li a{
text-shadow:1px 1px 1px #FFF;
-moz-text-shadow:1px 1px 1px #FFF;
-webkit-text-shadow:1px 1px 1px #FFF;
-khtml-text-shadow:1px 1px 1px #FFF;
}
#topmenu li:hover,
#topmenu li.active{
background:#333;
}
#topmenu li:hover a,
#topmenu li.active a{
color:#FFF;
text-shadow:1px 1px 1px #000;
-moz-text-shadow:1px 1px 1px #000;
-webkit-text-shadow:1px 1px 1px #000;
-khtml-text-shadow:1px 1px 1px #000;
}
#topmenu ul ul{
background:#333;
}
#topmenu ul ul li:hover{
background:#555;
}
#topmenu ul ul li a{
color:#555;
text-shadow:1px 1px 2px #FFF;
-moz-text-shadow:1px 1px 2px #FFF;
-webkit-text-shadow:1px 1px 2px #FFF;
-khtml-text-shadow:1px 1px 2px #FFF;
}
#stage{
background:#F4F4F4 url(../images/bg.png);
}
#stage-inner{
border-bottom:1px solid #D5D5D5;
}
#pathway{
border-bottom:1px solid #D5D5D5;
}
.elements{
border-bottom:1px solid #D5D5D5;
}
#container{
background:#F4F4F4 url(../images/bg.png);
}
#containar-inner{
border-bottom:1px solid #D5D5D5;
}
#container h1, #container .componentheading{
color:#3BC2BC;
text-shadow:1px 1px 1px #FFF;
-moz-text-shadow:1px 1px 1px #FFF;
-webkit-text-shadow:1px 1px 1px #FFF;
-khtml-text-shadow:1px 1px 1px #FFF;
}
#container h2, #container .contentheading{
color:#333;
text-shadow:1px 1px 1px #FFF;
-moz-text-shadow:1px 1px 1px #FFF;
-webkit-text-shadow:1px 1px 1px #FFF;
-khtml-text-shadow:1px 1px 1px #FFF;
}
#bottom{
background:#4E4E4E url(../images/bottom.png);
border-top:1px solid #FFF;
border-bottom:1px solid #555555;
color:#CCC;
}
#footer,
#footer a{
color:#CCC;
}
/* ***************************************************************************************************** */
/* JOOMLA SPECIFIC CSS CODE */
.iteminfo {
border-top:1px solid #D5D5D5;
}
.blog_more{
background:#FFF;
border:1px solid #D5D5D5;
}
.blog_more h2 {
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF !important;
text-shadow:1px 1px 1px #333 !important;
-moz-text-shadow:1px 1px 1px #333 !important;
-webkit-text-shadow:1px 1px 1px #333 !important;
-khtml-text-shadow:1px 1px 1px #333 !important;
}
.blog_more li a{
background:url(../images/mainmenu-module-arrow.png) no-repeat 100% 0;
border-top:1px solid #D5D5D5;
}
.pagination span{
background:#FFF;
border:1px solid #D5D5D5;
color:#999;
}
.pagination a{
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF;
text-shadow:1px 1px 1px #333;
-moz-text-shadow:1px 1px 1px #333;
-webkit-text-shadow:1px 1px 1px #333;
-khtml-text-shadow:1px 1px 1px #333;
}
table.contenttoc {
background:#FFF;
border:1px solid #D5D5D5;
}
table.contenttoc th {
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF;
text-shadow:1px 1px 2px #333;
-moz-text-shadow:1px 1px 2px #333;
-webkit-text-shadow:1px 1px 2px #333;
-khtml-text-shadow:1px 1px 2px #333;
}
table.contenttoc a {
border-bottom:1px solid #D5D5D5;
}
.inputbox, .validate-email, #filter_category, #product_quantity_input input, .adminlist input, #name, #username, #email {
background:#FFF;
border:1px solid #D5D5D5;
box-shadow:inset 0 5px 10px #EEE;
-moz-box-shadow:inset 0 5px 5px #EEE;
-webkit-box-shadow:inset 0 5px 5px #EEE;
-khtml-box-shadow:inset 0 5px 5px #EEE;
}
.button, button, .validate, input.button, div.itemCommentsForm form input#submitCommentButton {
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF;
text-shadow:1px 1px 1px #333;
-moz-text-shadow:1px 1px 1px #333;
-webkit-text-shadow:1px 1px 1px #333;
-khtml-text-shadow:1px 1px 1px #333;
}
.readon, .readmore{
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF !important;
text-shadow:1px 1px 1px #333;
-moz-text-shadow:1px 1px 1px #333;
-webkit-text-shadow:1px 1px 1px #333;
-khtml-text-shadow:1px 1px 1px #333;
}
.readon a, .readmore a{
color:#FFF !important;
}
/* ***************************************************************************************************** */
/* POLLS COMPONENT */
.pollstableborder th{
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF !important;
}
/* ***************************************************************************************************** */
/* SECTION TABLE */
.contentpane li {
background:url(../images/bullet3.png) no-repeat 0 15px;
border-bottom:1px solid #D5D5D5;
}
/* CATEGORY TABLE */
.sectiontableheader{
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF;
}
.sectiontableheader a{
color:#FFF !important;
}
.sectiontableentry,
.sectiontableentry0,
.sectiontableentry1,
.sectiontableentry2{
border-bottom:1px solid #D5D5D5;
}
.sectiontableentry:hover,
.sectiontableentry0:hover,
.sectiontableentry1:hover,
.sectiontableentry2:hover{
background:#F8F8F8;
}
/* ***************************************************************************************************** */
/* CONTACT FORM */
#emailForm{
background:#FFF;
border:1px solid #D5D5D5;
}
/* ***************************************************************************************************** */
/* SEARCH COMPONENT */
.highlight{
background:#FFFEBB;
}
ol.list li{
background:#FFF;
}
/* ***************************************************************************************************** */
/* LOGIN COMPONENT FORM */
#login{
background:#FFF;
border:1px solid #D5D5D5;
}
/* ***************************************************************************************************** */
/* REGISTRATION COMPONENT FORM */
#josForm{
background:#FFF;
border:1px solid #D5D5D5;
}
/* ***************************************************************************************************** */
/* RESET / REMEMBER / USER FORMS */
.form-validate{
background:#FFF;
border:1px solid #D5D5D5;
}
/* ***************************************************************************************************** */
/* POLLS COMPONENT */
#poll .contentpane .sectiontableentry1,
#poll .contentpane .sectiontableentry0{
border-bottom:1px solid #EEE !important;
border-top:0 !important;
}
#poll .smalldark{
border-top:1px solid #EEE !important;
}
/* ***************************************************************************************************** */
/* USER FORM */
form.user{
background:#F8F8F8;
border:1px solid #D5D5D5;
border-bottom:3px solid #D5D5D5;
}
/* ***************************************************************************************************** */
/* MODULE STYLES */
.moduletable, 
.moduletable_menu, 
.moduletable_text, 
.moduletable-ms1, 
.moduletable-ms2, 
.moduletable-ms3, 
.moduletable-ms4, 
.module, 
.module_menu, 
.module_text, 
.module-ms1, 
.module-ms2, 
.module-ms3, 
.module-ms4{

}
.moduletable h3,  
.moduletable_menu h3, 
.moduletable_text h3, 
.moduletable-ms1 h3, 
.moduletable-ms2 h3, 
.moduletable-ms3 h3, 
.moduletable-ms4 h3, 
.module h3, 
.module_menu h3, 
.module_text h3, 
.module-ms1 h3, 
.module-ms2 h3, 
.module-ms3 h3, 
.module-ms4 h3{
color:#000;
border-bottom:1px solid #D5D5D5;
text-shadow:1px 1px 2px #FFF;
-moz-text-shadow:1px 1px 2px #FFF;
-webkit-text-shadow:1px 1px 2px #FFF;
-khtml-text-shadow:1px 1px 2px #FFF;
}
/* ***************************************************************************************************** */
/* MENU MODULE */
.moduletable_menu li a,
.module_menu li a {
border-bottom:1px dotted #D5D5D5;
background:url(../images/mainmenu-module-arrow.png) no-repeat 100% 0;
color:#555;
}
.moduletable_menu li a:hover,
.module_menu li a:hover {
background:url(../images/mainmenu-module-arrow.png) no-repeat 100% -28px;
color:#3BC2BC;
}
/* ***************************************************************************************************** */
/* RSS FEED MODULE */
ul.newsfeed li{
border-top:1px solid #D5D5D5;
}
/* ***************************************************************************************************** */
/* POLLS MODULE */
.pollstableborder .sectiontableentry0,
.pollstableborder .sectiontableentry1,
.pollstableborder .sectiontableentry2{
border-top:1px solid #D5D5D5;
}
/* ***************************************************************************************************** */
/* LOGIN MODULE */
#form-login li a{
border-top:1px dotted #D5D5D5;
color:#555;
}
#form-login li a:hover{
color:#3BC2BC;
}
/* ***************************************************************************************************** */
/* SECTIONS MODULE */
ul.sections-module li a{
border-bottom:1px dotted #D5D5D5;
color:#555;
}
ul.sections-module li a:hover{
color:#3BC2BC;
}
/* ***************************************************************************************************** */
/* RELATED MODULE */
#container ul.relateditems li a{
background:url(../images/relatedIcon.png) no-repeat 95% 50%;
border-bottom:1px solid #EEE;
color:#555;
}
#container ul.relateditems li a:hover{
background:#F8F8F8 url(../images/relatedIcon.png) no-repeat 95% 50%;
color:#3BC2BC;
}
/* ***************************************************************************************************** */
/* TEXT ADS BANNER */
.bannerheader{
border-bottom:1px solid #EEE;
}
.banneritem_text{
background:#F8F8F8 url(../images/adsIcon.png) no-repeat 98% 50%;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* LATEST NEWS MODULE */
ul.latestnews li a{
background:url(../images/mainmenu-module-arrow.png) no-repeat 100% 0;
border-bottom:1px dotted #D5D5D5;
color:#555;
}
ul.latestnews li a:hover{
background:url(../images/mainmenu-module-arrow.png) no-repeat 100% -28px;
color:#3BC2BC;
}
/* ***************************************************************************************************** */
/* POPULAR MODULE */
ul.mostread li a{
background:url(../images/mainmenu-module-arrow.png) no-repeat 100% 0;
border-bottom:1px dotted #D5D5D5;
color:#555;
}
ul.mostread li a:hover{
background:url(../images/mainmenu-module-arrow.png) no-repeat 100% -28px;
color:#3BC2BC;
}
/* ***************************************************************************************************** */
/* BOTTOM MODULE STYLES */
#bottom .module h3,
#bottom .module_menu h3,
#bottom .module_text h3{
border-bottom:1px solid #777;
color:#FFF;
text-shadow:1px 1px 3px #000;
-moz-text-shadow:1px 1px 3px #000;
-webkit-text-shadow:1px 1px 3px #000;
-khtml-text-shadow:1px 1px 3px #000;
}
#bottom .module li,
#bottom .module_menu li{
border-bottom:1px dotted #777 !important;
}
#bottom .module li a,
#bottom .module_menu li a{
color:#CCC;
border:0 !important;
}
#bottom .inputbox{
background:#3D3D3D;
color:#CCC;
border:1px solid #2E2E2E;
box-shadow:inset 0 5px 10px #222;
-moz-box-shadow:inset 0 5px 10px #222;
-webkit-box-shadow:inset 0 5px 10px #222;
-khtml-box-shadow:inset 0 5px 10px #222;
}
#bottom .button{
background:#555555;
color:#FFF;
text-shadow:1px 1px 3px #000;
-moz-text-shadow:1px 1px 3px #000;
-webkit-text-shadow:1px 1px 3px #000;
-khtml-text-shadow:1px 1px 3px #000;
}
/* ***************************************************************************************************** */
/* JOOMLA 1.6 */
.createdate, .modifydate, .createdby, .publishdate, .hits {
color:#999;
}
.pagenav a{
background:url(../images/cyanButton.png) repeat-x 0 0;
border:1px solid #3BC2BC;
color:#FFF;
}
#article-index{
background:#FFF;
border:1px solid #D5D5D5;
border-bottom:2px solid #D5D5D5;
}
#article-index li{
border-bottom:1px solid #D5D5D5;
}
.login{
background:#FFF;
border:1px solid #D5D5D5;
border-bottom:3px solid #D5D5D5;
}