@charset "utf-8";
/* CSS Document Copyright ********************/
/* ***************************************************************************************************** */
/* DEFAULT HTML *****************************/
body{
color:#444751;
background:#FFF;
}
a {
color:#0088CC;
}
a:hover{
color: #333;
}
/* ***************************************************************************************************** */
/* TEMPLATE SPECIFIC CSS CODE */
#toolbar{
background:#444751;
}
#toolbar ul a{
color:#A2A3A8;
}
#toolbar ul a:hover,
#toolbar ul li.current a,
#toolbar a#active_menu-nav{
color:#FFF;
}
#header {
border-bottom:5px solid #444751;
background:#FFF;
}
#menu{
border-bottom:1px solid #E0E0E0;
background:#FFF;
}
#menu ul li a{
color:#333;
}
#menu ul li a:hover,
#menu ul li.active a{
color:#0088CC;
}
#menu ul ul{
background:#FFF;
border:1px solid #E0E0E0;
}
#menu ul ul li:hover{
background:#F8F8F8;
}
#menu ul ul li a{
color:#333;
}
#menu ul ul li a:hover,
#menu ul ul li.active a{
color:#0088CC;
}
#menu ul li.active li a{
color:#333;
}
#menu ul li.active li a:hover{
color:#0088CC;
}
#pathway{
background:#FFF;
}
#stage{
border-bottom:1px solid #E0E0E0;
background:#F8F8F8;
}
.elements{
border-bottom:1px solid #CCC;
background:#FFF;
}
#container{
border-bottom:1px solid #CCC;
background:#FFF;
}
#bottom{
border-bottom:1px solid #000;
background:#F8F8F8;
}
#footer{
color:#A2A3A8;
background:#444751;
}
#footer a {
color:#A2A3A8;
}
/* ***************************************************************************************************** */
/* JOOMLA SPECIFIC CSS CODE */
/* ***************************************************************************************************** */
/* FRONTEND EDITOR */
#adminForm input,
#adminForm select{
background:#FFF;
border:1px solid #CCC;
}
.button2-left a{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.formelm_buttons button{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
/* ***************************************************************************************************** */
/* CONTENT COMPONENT STYLES */
.image_left,
.image_right{
background:#F8F8F8;
border:1px solid #CCC;
}
.button{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.inputbox{
background:#FFF;
border:1px solid #CCC;
}
.buttonheading a:hover{
color:#333;
}
.article-info-box {
border-bottom:1px solid #CCC;
}
.article-info{
background:#FFF;
}
li.parent-category-name, 
li.category-name, 
li.create, 
li.modified, 
li.published, 
li.createdby, 
li.hits {
color:#999;
}
.content_vote{
border-bottom:1px solid #CCC;
}
.content_vote .button{
color:#FFF;
border:1px solid #00799F;
background:#0099CC;
}
.readmore a,
.readon a{
color:#FFF;
border:1px solid #00799F;
background:#0099CC;
}
.readmore a:hover,
.readon a:hover{
color:#FFF;
}
.readmore a,
.readon a{
color:#FFF;
}
.readmore a:hover,
.readon a:hover{
color:#FFF;
}
ul.pagenav li a{
color:#FFF;
border:1px solid #00799F;
background:#0099CC;
}
/* ***************************************************************************************************** */
/* FRONTPAGE COMPONENT */
.items-more{
background:#FFF;
}
.items-more h3{
color:#FFF;
border:1px solid #00799F;
background:#0099CC;
}
.items-more ol{
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
.items-more li{
border-bottom:1px solid #CCC;
background:url(../images/arrow.png) no-repeat 3px 5px;
}
.items-more li:hover{
background:#EEE url(../images/arrow.png) no-repeat 3px 5px;
}
.items-more li a:hover{
color:#333;
}
.pagination a{
color:#FFF;
border:1px solid #00799F;
background:#0099CC;
}
/* ***************************************************************************************************** */
/* SEARCH COMPONENT */
.word{
border:1px solid #CCC;
background:#F8F8F8;
}
.phrase{
border:1px solid #CCC;
background:#F8F8F8;
}
.only{
border:1px solid #CCC;
background:#F8F8F8;
}
.searchintro{
border:1px solid #CCC;
background:#F8F8F8;
}
.searchintro a{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.search-results ol li{
border:1px solid #CCC;
background:#F8F8F8;
}
.search-results .highlight{
background:#FFF58F;
}
.phrases{
border:1px solid #CCC;
background:#F8F8F8;
}
.phrases-box .phrase{
border:0;
background:transparent;
}
ol.search_results li.result-title{
border:1px solid #CCC;
background:#F8F8F8;
}
ol.search_results li.result-title .highlight{
background:#FFF58F;
}
/* ***************************************************************************************************** */
/* TABLE OF CONTENTS VIEW */
.contenttoc{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
background:#FFF;
}
.contenttoc th{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.contenttoc a.toclink{
border-bottom:1px solid #CCC;
background:url(../images/arrow.png) no-repeat 3px 3px;
}
.contenttoc a.toclink:hover,
.contenttoc a.toclink.active{
background:#EEE url(../images/arrow.png) no-repeat 3px 3px;
}
.pagenavcounter{
border:1px solid #CCC;
background:#F8F8F8;
}
.pagenavbar{
background:#FFF;
border:1px solid #CCC;
}
.pagination li a {
color:#0099CC;
text-decoration:underline;
}
#article-index{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
background:#FFF;
}
#article-index li a{
border-bottom:1px solid #CCC;
background:url(../images/arrow.png) no-repeat 3px 3px;
}
#article-index a:hover{
background:#EEE url(../images/arrow.png) no-repeat 3px 3px;
}
.pagination ul{
background:#FFF;
border:1px solid #CCC;
}
/* ***************************************************************************************************** */
/* SECTION TABLE */
.cat-items li{
background:url(../images/arrow.png) no-repeat 0 3px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* CATEGORY TABLE */
.contentdescription img{
border:1px solid #CCC;
background:#F8F8F8;
}
.filter{
display:inline-block;
}
.display{
display:inline-block;
}
table.category{
border-bottom:1px solid #CCC;
}
.sectiontableheader{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.sectiontableheader a{
color:#FFF;
}
tr.sectiontableentry0{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
tr.sectiontableentry0:hover{
background:#EEE;
}
tr.sectiontableentry1{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
tr.sectiontableentry1:hover{
background:#EEE;
}
tr.sectiontableentry2{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
tr.sectiontableentry2:hover{
background:#EEE;
}
/* ***************************************************************************************************** */
/* CATEGORIES LIST */
.categories-list li{
border:1px solid #CCC;
background:#F8F8F8;
}
.categories-list li li{
border:1px solid #EEE;
background:#FFF;
}
/* ***************************************************************************************************** */
/* ARTICLE CATEGORY LIST */
.cat-children li{
border:1px solid #CCC;
background:#F8F8F8;
}
.cat-children li li{
border:1px solid #EEE;
background:#FFF;
}
.category thead{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.category thead a{
color:#FFF;
}
.category thead .list-title,
.category thead .list-date,
.category thead .list-author,
.category thead .list-hits{
border:1px solid #00779B;
}
.cat-list{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
.cat-list:hover{
background:#EEE;
}
.cat-list .list-title,
.cat-list .list-date,
.cat-list .list-author,
.cat-list .list-hits{
border:1px solid #CCC;
}
.cat-list-row0{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
.cat-list-row0:hover{
background:#EEE;
}
.cat-list-row0 .list-title,
.cat-list-row0 .list-date,
.cat-list-row0 .list-author,
.cat-list-row0 .list-hits{
border:1px solid #CCC;
}
.cat-list-row1{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
.cat-list-row1:hover{
background:#EEE;
}
.cat-list-row1 .list-title,
.cat-list-row1 .list-date,
.cat-list-row1 .list-author,
.cat-list-row1 .list-hits{
border:1px solid #CCC;
}
/* ***************************************************************************************************** */
/* POLLS COMPONENT */
table.pollstableborder{
border-bottom:1px solid #CCC;
}
/* ***************************************************************************************************** */
/* ARCHIVE LIST */
ul#archive-list li{
border:1px solid #CCC;
background:#F8F8F8;
}
ul#archive-list li h5.metadata{
background:#FFF;
border:1px solid #CCC;
}
ul#archive-list li h5.metadata span{
color:#999;
}
.create{
background:url(../images/createdate.png) no-repeat 0px 50%;
}
.modified{
background:url(../images/modifydate.png) no-repeat 0px 50%;
}
.published{
background:url(../images/publishdate.png) no-repeat 0px 50%;
}
.author{
background:url(../images/createdby.png) no-repeat 0px 50%;
}
/* ***************************************************************************************************** */
/* WEBLINKS COMPONENT */
table.weblinks{
border-bottom:1px solid #CCC;
}
.weblinks li{
border:1px solid #CCC;
background:#F8F8F8;
}
.weblinks li li{
border:1px solid #EEE;
background:#FFF;
}
.weblinks dl dt,
.weblinks dl dd{
color:#999;
}
.weblinks dl{
background:url(../images/bullet_blue.png) no-repeat 0px 50%;
}
/* ***************************************************************************************************** */
/* NEWSFEEDS COMPONENT */
table.newsfeeds{
border-bottom:1px solid #CCC;
}
.newsfeed li{
border:1px solid #CCC;
background:#F8F8F8;
}
/* ***************************************************************************************************** */
/* CONTACT COMPONENT */
.contact-category td.sectiontableentry{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
.contact-category td.sectiontableentry:hover{
background:#EEE;
}
.contact-category td.sectiontableentry0{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
.contact-category td.sectiontableentry0:hover{
background:#EEE;
}
.contact-form{
border:1px solid #CCC;
background:#F8F8F8;
}
#contact-slider .panel{
background:#FFF;
border:1px solid #CCC;
}
table.category .even,
.category tbody td{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
table.category .even:hover,
.category tbody td:hover{
background:#EEE;
}
table.category .odd{
border-top:1px solid #CCC;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
}
table.category .odd:hover{
background:#EEE;
}
/* ***************************************************************************************************** */
/* PASSWORD/USERNAME REMINDER */
#email{
background:#FFF;
border:1px solid #CCC;
}
.invalid{
color:#FF0000;
}
input.invalid{
border:1px solid #FF0000 !important;
}
/* ***************************************************************************************************** */
/* REMIND FORM */
.remind{
border:1px solid #CCC;
background:#F8F8F8;
}
.remind input{
background:#FFF;
border:1px solid #CCC;
}
.remind button{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
/* ***************************************************************************************************** */
/* RESET FORM */
.reset{
border:1px solid #CCC;
background:#F8F8F8;
}
.reset input{
background:#FFF;
border:1px solid #CCC;
}
.reset button{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
/* ***************************************************************************************************** */
/* REGISTER FORM */
.registration{
border:1px solid #CCC;
background:#F8F8F8;
}
.register input{
background:#FFF;
border:1px solid #CCC;
}
div.email {
background:none;
border-color:none;
color:inherit;
text-shadow: 1px 1px 0 #F8F8F8;
}
.registration{
border:1px solid #CCC;
background:#F8F8F8;
}
.registration button{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
/* ***************************************************************************************************** */
/* LOGIN COMPONENT */
table.contentpane img{
border:1px solid #CCC;
background:#F8F8F8;
}
#com-form-login ul{
border-top:1px solid #EEE;
}
#com-form-login li{
background:url(../images/bullet_blue.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
.login{
border:1px solid #CCC;
background:#F8F8F8;
}
.login #username,
.login #password{
background:#FFF;
border:1px solid #CCC;
}
/* ***************************************************************************************************** */
/* USER PROFILE */
.profile{
border:1px solid #CCC;
background:#F8F8F8;
}
.profile a{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.profile a:hover{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.profile-edit{
border:1px solid #CCC;
background:#F8F8F8;
}
.profile-edit button{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.profile-edit button:hover{
color:#FFF;
border:1px solid #00799F;
background: #0099CC;
}
.profile-edit input,
.profile-edit select{
background:#FFF;
border:1px solid #CCC;
}
/* ***************************************************************************************************** */
/* DEFAULT MODULES */
.moduletable h3,
.moduletable_text h3,
.moduletable_menu h3{
border-bottom:1px solid #CCC;
}
/* ***************************************************************************************************** */
/* GRID MODULES */
.module h3,
.module_text h3,
.module_menu h3{
border-bottom:1px solid #CCC;
}
/* ***************************************************************************************************** */
/* TOOLBAR MODULES */
#toolbar .module,
#toolbar .module_text,
#toolbar .module_menu{
color:#999;
}
#toolbar .module h3,
#toolbar .module_text h3,
#toolbar .module_menu h3{
border-bottom:1px solid #555;
}
/* ***************************************************************************************************** */
/* BREADCRUMBS MODULE */
#pathway .sep{
background:url(../images/arrow.png) no-repeat 50% 100%;
}
/* ***************************************************************************************************** */
/* STATS MODULE */
ul.stats-module li{
background:url(../images/chart_pie.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* POPULAR MODULE */
ul.mostread li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* LATEST NEWS MODULE */
ul.latestnews li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* ARCHIVE MODULE */
ul.archive-module li{
background:url(../images/cd_burn.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* SECTIONS MODULE */
ul.sections-module li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* FEED DISPLAY MODULE */
.feed ul.newsfeed{
border-top:1px solid #EEE;
}
.feed ul.newsfeed li{
border:1px solid #EEE;
}
.feed h5.feed-link{
background:url(../images/livemarks.png) no-repeat 98% 3px;
}
/* ***************************************************************************************************** */
/* LOGIN MODULE */
#form-login ul,
#login-form ul{
border-top:1px solid #EEE;
}
#form-login li,
#login-form li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* RELATED ITEMS MODULE */
ul.relateditems li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* CATEGORIES MODULE */
ul.categories-module li{
border:1px solid #CCC;
background:#F8F8F8;
}
/* ***************************************************************************************************** */
/* ARTICLES CATEGORY MODULE */
ul.category-module li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* LATEST USERS MODULE */
ul.latestusers li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* WHOS ONLINE MODULE */
ul.whosonline{
border-top:1px solid #EEE;
}
ul.whosonline li{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
/* ***************************************************************************************************** */
/* MENU MODULE */
.moduletable_menu ul li a{
background:url(../images/arrow_right.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
.moduletable_menu ul ul li{
border:0;
background:#F4F4F4;
}
.moduletable_menu ul ul li a{
background:url(../images/arrow_right.png) no-repeat 20px 7px;
border-bottom:1px solid #EEE;
}
.moduletable_menu ul ul ul li{
border:0;
background:#F8F8F8;
}
.moduletable_menu ul ul ul li a{
background:#F8F8F8 url(../images/arrow_right.png) no-repeat 20px 7px;
border-bottom:1px solid #EEE;
}
.moduletable_menu ul ul ul ul li{
border:0;
background:#FFF;
}
.moduletable_menu ul ul ul ul li a{
background:#FFF url(../images/arrow_right.png) no-repeat 40px 7px;
border-bottom:1px solid #EEE;
}
.moduletable_menu ul ul ul ul ul li{
border:0;
background:#FFF;
}
.moduletable_menu ul ul ul ul ul li a{
background:#FFF url(../images/arrow.png) no-repeat 40px 3px;
border-bottom:1px solid #F8F8F8;
}
.module_menu ul li a{
background:url(../images/bullet_blue.png) no-repeat 0 7px;
border-bottom:1px solid #EEE;
}
.module_menu ul ul li{
border:0;
background:#F4F4F4;
}
.module_menu ul ul li a{
background:url(../images/bullet_blue.png) no-repeat 20px 7px;
border-bottom:1px solid #EEE;
}
.module_menu ul ul ul li{
border:0;
background:#F8F8F8;
}
.module_menu ul ul ul li a{
background:#F8F8F8 url(../images/arrow.png) no-repeat 20px 3px;
border-bottom:1px solid #EEE;
}
.module_menu ul ul ul ul li{
border:0;
background:#FFF;
}
.module_menu ul ul ul ul li a{
background:#FFF url(../images/arrow.png) no-repeat 40px 3px;
border-bottom:1px solid #EEE;
}
.module_menu ul ul ul ul ul li{
border:0;
background:#FFF;
}
.module_menu ul ul ul ul ul li a{
background:#FFF;
border-bottom:1px solid #F8F8F8;
}