@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

// Toolbar

#toolbar {

  .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

// Bottom Menu

.wrapper-bottom-menu {
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid $gray-700;
}

// Footer

#footer {
  color: $white;
  background-color: $gray-900;

  .footer-content {
    @extend .p-b-1;
  }

  .moduletable,
  .module {
    @extend .m-0;
  }
}